<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.6.0/sha1.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/generals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/generals.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
</head>
<body>
<header>

    <nav>
        <div class="header-left">
            <div class="selector">
                <div class="ball-Pointer"></div>
                <a href="trade.html">TRADE</a>
            </div>
            <div class="selector">
                <div class="ball-Pointer"></div>
                <a href="purchase.html">PURCHASE</a>
            </div>
            <div class="selector">
                <div class="ball-Pointer"></div>
                <a href="learn.html">LEARN</a>
            </div>
        </div>
        <div class="header-right">
            <div class="selector">
                <div class="ball-Pointer"></div>
                <a id="home" href="{{ url_for("home.index") }}">HOME</a>
            </div>
            <div class="account">
                <div class="selector">
                    <div class="ball-Pointer"></div>
                    <a class="noMargin" href="{{ url_for("auth.register") }}">SIGNUP</a>
                </div>
                <div id="slash">/</div>
                <div class="selector">
                    <a class="noMargin" href="{{ url_for("auth.login") }}" onclick="">LOGIN</a>
                    <div class="visible-Ball-Pointer"></div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <h3 class="floating-Text">
        Hi there, <span class="italic">log in</span><br>and start exploring :)
    </h3>
    <div id="card">
        <h1>My account</h1>
        <div class="user-Account">
            <input type="email" id="userEmail" placeholder="EMAIL OR HANDLE"/>
            <a id="trysignup">
                <div class="negative-Feedback hide" id="emailError">
                    <div class="ball-Negative-Feedback"></div>
                    <span id="emailErrorSpan">
                        Write something
                    </span>
                </div>
            </a>
        </div>
        <div class="user-Account">
            <input type="password" id="userPassword" placeholder="PASSWORD"/>
            <div id="forgot-Btn">
                <div class="negative-Feedback hide" id="passwordError">
                    <div class="ball-Negative-Feedback"></div>
                    <span id="passwordErrorSpan">Write something</span>
                </div>
                <a href="{{ url_for("wip.index") }}">
                    <div id="forgot">Forgot?</div>
                </a>
            </div>
        </div>
        <div class=" user-Account">
            <a href="{{ url_for("wip.index") }}">
                <button type="button" class="login-with-google-btn">
                    Continue with Google
                </button>
            </a>
        </div>
        <div id="validation-Button">
            <button id="enter-Account">JOIN</button>
        </div>
    </div>
</main>

<footer>
    <h3>GARDEN 2.0 © 2023</h3>
</footer>

</body>
</html>