<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WIP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wip.css') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Orto">
</header>
<main>
    <h1>We are <span class="italic">DEFINITELY</span> working on it...</h1>
    <p>Maybe try checking in a few time :P</p>
</main>

</body>
</html>